html,
body {
    height: 100%;
}

#green {

    background: #e7e5e5;
    text-align: center;
    color: black;
    padding: 15px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-primary {
    background-color: #e7e5e5 !important;
}

.table {
    width: 79%;
    height: 35vh;
    margin-left: 4%;
}

input.rupee {
    border: hidden;
}

span.inserted {
    font-size: 78%;
    margin-left: -40%;
}

select#pays {
    border: hidden;
    width: 91%;
}

label.pay {
    margin-left: -45%;
    font-size: 85%;
}

select#plan {
    border: hidden;
    width: 67%;
}

label.navbar-brand {
    font-size: 100%;
    padding: 1%;
}

input[type="text"] {
    border: none;
    width: 66%;
}

select#past {
    border: hidden;
    width: 16%;
}

label.navbar {
    margin-left: 10%;
}

i.fa.fa-inr {
    text-align: justify;
}

.container {
    background-color: whitesmoke;
    width: 374%;
    height: 148%;
    margin-left: -276%;
    margin-top: -90%;
}

.Advantage {
    margin-left: 32%;
}

img.get {
    width: 13%;
    text-align: justify;

}

label.get {
    font-size: 96%;
    text-align: justify;

}

.irr_block {
    font-size: 84%;
    text-align: justify;
}

.compare {
    font-size: 92%;
    text-align: justify;
}

.\> {
    margin-left: 67%;
    margin-top: -18%;
    border: hidden;
}

span.name.mt-2 {
    font-size: 90%;
    text-align: justify;
}



h6.matlab {
    margin-left: 20%;
    font-size: 92%;
}

strong.sky {
    font-size: 118%;
    color: #0a9edb;
}

strong.red {
    font-size: 119%;
    color: #ef1e1e;
    margin-left: 15%;
}

img.bulb {
    width: 15%;
}

button.btn.btn-sm.btn-danger {
    margin-left: 15%;
}

button.modalfade {
    border: hidden;
}

button.plantype {
    border: hidden;
    text-align: -webkit-match-parent;
}

.modal-dialog {
    width: 19%;
    margin-left: 21%;
    margin-top: 5%;
}

.buy_link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 2px;
    font-family: 'Open Sans', sans-serif;
    color: #272323;
    margin-right: 100px;
    margin-top: 5px;
    position: relative;
    padding: 20px 20px 20px 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border: black;
}

ul.a {
    list-style-type: circle;
}

input.view {
    border: none;
    color: blue;
}



.guaranteed-vs-fd_wrp[_ngcontent-ohd-c74] {
    padding: 20px;
}

.guaranteed-vs-fd_compare[_ngcontent-ohd-c74] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.guaranteed-vs-fd_compare[_ngcontent-ohd-c74] h1[_ngcontent-ohd-c74] {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 20px;
    position: relative;
}

.guaranteed-vs-fd_sub_heading[_ngcontent-ohd-c74] {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    position: relative;
}

.guaranteed-vs-fd_sub_heading[_ngcontent-ohd-c74] span[_ngcontent-ohd-c74] {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
    width: 27px;
    height: 27px;
    background: #fff;
    border-radius: 50px;
    top: 16px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}

.guaranteed_fixed_deposits[_ngcontent-ohd-c74],
.guaranteed_milestone_plan[_ngcontent-ohd-c74] {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 14px;
    padding: 7px 0;
}

.guaranteed_milestone_plan[_ngcontent-ohd-c74] {
    display: block;
    background: #e0eee1;
}

.guaranteed_fixed_deposits[_ngcontent-ohd-c74],
.guaranteed_milestone_plan[_ngcontent-ohd-c74] {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 14px;
    padding: 7px 0;
}

.guaranteed_fixed_deposits[_ngcontent-ohd-c74] {
    background: rgba(204, 111, 98, .34901960784313724) 0 0 no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 259%;
    margin-left: -16%;
}

.guaranteed_investment[_ngcontent-ohd-c74] {
    margin-top: 20px;
}

.guaranteed_investment[_ngcontent-ohd-c74] p[_ngcontent-ohd-c74] {
    font-size: 14px;
    text-align: center;
    color: #757575;
    margin: 0;
    padding: 0;
}

.guaranteed_investment[_ngcontent-ohd-c74] h2[_ngcontent-ohd-c74] {
    text-align: center;
    color: #0652dd;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.guaranteed_investment_head[_ngcontent-ohd-c74] {
    background: #f2f6fe;
    text-align: center;
    padding: 4px 0;
    font-size: 14px;
    margin-top: 20px;
    color: #757575;
    font-weight: 500;
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.guaranteed_investment_tax_free[_ngcontent-ohd-c74] {
    width: 50%;
    text-align: center;
    justify-content: center;
    border-right: 1px solid hsla(0, 0%, 43.9%, .25098039215686274);
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] b[_ngcontent-ohd-c74] {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.guaranteed_investment_tax_free[_ngcontent-ohd-c74] span[_ngcontent-ohd-c74] {
    width: 61px;
    font-size: 12px;
    color: #fff;
    background: #65ac68;
    margin: 0 auto;
    display: inline-block;
    border-radius: 2px;
}

.guaranteed_investment_taxable[_ngcontent-ohd-c74] {
    width: 50%;
    text-align: center;
    justify-content: center;
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] b[_ngcontent-ohd-c74] {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.guaranteed_investment_taxable[_ngcontent-ohd-c74] span[_ngcontent-ohd-c74] {
    width: 61px;
    font-size: 12px;
    color: #fff;
    background: #cc6f62;
    margin: 0 auto;
    display: inline-block;
    border-radius: 2px;
}

.guaranteed_investment_head[_ngcontent-ohd-c74] {
    background: #f2f6fe;
    text-align: center;
    padding: 4px 0;
    font-size: 14px;
    margin-top: 20px;
    color: #757575;
    font-weight: 500;
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.guaranteed_investment_tax_free[_ngcontent-ohd-c74] {
    width: 50%;
    text-align: center;
    justify-content: center;
    border-right: 1px solid hsla(0, 0%, 43.9%, .25098039215686274);
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] b[_ngcontent-ohd-c74] {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.guaranteed_investment_returns_after_tax[_ngcontent-ohd-c74] {
    width: 50%;
    text-align: center;
    justify-content: center;
}

.guaranteed_investment_returns_after_tax[_ngcontent-ohd-c74] ul[_ngcontent-ohd-c74] {
    margin: 0 auto;
    list-style: none;
    width: 270px;
    float: left;
    display: block;
}

.guaranteed_investment_returns_after_tax[_ngcontent-ohd-c74] ul[_ngcontent-ohd-c74] li[_ngcontent-ohd-c74] {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    float: left;
    text-align: center;
    width: 32%;
}

.guaranteed_investment_returns_after_tax[_ngcontent-ohd-c74] ul.tax_slab[_ngcontent-ohd-c74] {
    border: 0.6000000238418579px dashed #5c93f7;
    padding: 8px;
    border-radius: 4px;
    float: left;
    position: relative;
    margin-left: 30px;
    margin-top: 10px;
}

.guaranteed_investment_returns_after_tax[_ngcontent-ohd-c74] ul[_ngcontent-ohd-c74] {
    margin: 0 auto;
    list-style: none;
    width: 270px;
    float: left;
    display: block;
}

.guaranteed_investment_returns_after_tax[_ngcontent-ohd-c74] ul.tax_slab[_ngcontent-ohd-c74] span[_ngcontent-ohd-c74] {
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #fff;
    width: 70px;
    padding: 0;
    font-size: 12px;
    color: #5c93f7;
}

.guaranteed_investment_returns_after_tax[_ngcontent-ohd-c74] ul[_ngcontent-ohd-c74] li[_ngcontent-ohd-c74] {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    float: left;
    text-align: center;
    width: 32%;
}

.guaranteed_investment_head[_ngcontent-ohd-c74] {
    background: #f2f6fe;
    text-align: center;
    padding: 4px 0;
    font-size: 14px;
    margin-top: 20px;
    color: #757575;
    font-weight: 500;
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] b[_ngcontent-ohd-c74] {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

.guaranteed_investment_tax_free[_ngcontent-ohd-c74] {
    width: 50%;
    text-align: center;
    justify-content: center;
    border-right: 1px solid hsla(0, 0%, 43.9%, .25098039215686274);
}

.guaranteed_investment_taxable[_ngcontent-ohd-c74] {
    width: 50%;
    text-align: center;
    justify-content: center;
}

.guaranteed_investment_tax_free_wrp[_ngcontent-ohd-c74] b[_ngcontent-ohd-c74] {
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.product_name[_ngcontent-dxi-c83] {
display: block;
text-align: center;
padding: 16px 0 0;
font-weight: 500;
}
.head[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] {
font-size: 16px;
font-weight: 600;
text-align: center;
margin: 10px 0 0;
display: block;
width: 100%;
z-index: 999999;
background: #dff7f5;
padding: 10px 0;
}
.head[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] > img[_ngcontent-dxi-c83] {
vertical-align: middle;
width: 20px;
}
.you_invest[_ngcontent-dxi-c83] {
font-size: 16px;
color: #000;
text-align: center;
padding: 10px 0 0;
font-weight: 500;
}
.you_invest[_ngcontent-dxi-c83] > span[_ngcontent-dxi-c83] {
color: #757575;
}
.listing[_ngcontent-dxi-c83] {
padding: 10px 9%;
display: inline-block;
width: 100%;
clear: both;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83]:first-child {
margin-left: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] {
width: 46%;
float: left;
min-height: auto;
border-radius: 5px;
margin-left: 8%;
box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
position: relative;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] .title[_ngcontent-dxi-c83] {
width: 80%;
top: -7px;
margin: 0 auto;
color: #fff;
position: relative;
padding: 5px 0;
z-index: 2;
background: #15b5a5;
text-align: center;
display: block;
font-size: 12px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
font-weight: 600;
text-transform: uppercase;
}
.title.gray[_ngcontent-dxi-c83] {
background-color: #838383!important;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] {
padding: 0 5px 10px;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] {
padding: 0 0 10px;
border-bottom: 1px dotted #ccc;
list-style: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] {
font-size: 10px;
text-align: center;
color: #777;
padding: 5px 0;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.alert[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
color: #d62121;
position: relative;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.alert[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] .arow[_ngcontent-dxi-c83] {
position: relative;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.alert[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
color: #d62121;
position: relative;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] {
padding: 0 0 10px;
border-bottom: 1px dotted #ccc;
list-style: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] {
font-size: 10px;
text-align: center;
color: #777;
padding: 5px 0;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83]:last-child {
border-bottom: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] {
padding: 0 0 10px;
border-bottom: 1px dotted #ccc;
list-style: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] {
font-size: 10px;
text-align: center;
color: #777;
padding: 5px 0;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.alert[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
color: #d62121;
position: relative;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.alert[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] .arow[_ngcontent-dxi-c83] {
position: relative;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] {
width: 46%;
float: left;
min-height: auto;
border-radius: 5px;
margin-left: 8%;
box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
position: relative;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] .title[_ngcontent-dxi-c83] {
width: 80%;
top: -7px;
margin: 0 auto;
color: #fff;
position: relative;
padding: 5px 0;
z-index: 2;
background: #15b5a5;
text-align: center;
display: block;
font-size: 12px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
font-weight: 600;
text-transform: uppercase;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] {
padding: 0 5px 10px;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] {
padding: 0 0 10px;
border-bottom: 1px dotted #ccc;
list-style: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] {
padding: 15px 0;
}
.green_color[_ngcontent-dxi-c83] {
color: #1c9f4e!important;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] {
font-size: 10px;
text-align: center;
color: #777;
padding: 5px 0;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.total_value[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
color: #1c9f4e;
position: relative;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] {
padding: 0 0 10px;
border-bottom: 1px dotted #ccc;
list-style: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] {
font-size: 10px;
text-align: center;
color: #777;
padding: 5px 0;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83]:last-child {
border-bottom: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] {
padding: 0 0 10px;
border-bottom: 1px dotted #ccc;
list-style: none;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] p[_ngcontent-dxi-c83] {
font-size: 10px;
text-align: center;
color: #777;
padding: 5px 0;
margin: 0;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.total_value[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
color: #1c9f4e;
position: relative;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li.total_value[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
color: #1c9f4e;
position: relative;
line-height: normal;
}
.listing[_ngcontent-dxi-c83] .col[_ngcontent-dxi-c83] ul[_ngcontent-dxi-c83] li[_ngcontent-dxi-c83] strong[_ngcontent-dxi-c83] {
display: block;
text-align: center;
font-size: 16px;
color: #000;
font-weight: 600;
line-height: normal;
}

.listing[_ngcontent-dxi-c83] .grnbtn.adding[_ngcontent-dxi-c83] {
left: 11px;
bottom: -20px;
}
.listing[_ngcontent-dxi-c83] .grnbtn[_ngcontent-dxi-c83] {
width: 234px;
background-color: #1c9f4e;
color: #fff;
font-size: 12px;
border: 0;
border-radius: 6px;
padding: 4px 2px;
font-weight: 500;
box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
position: absolute;
left: -9px;
}
.buttonbox[_ngcontent-dxi-c83] {
width: 100%;
margin: 0 auto;
padding: 10px 0;
text-align: center;
clear: both;
display: inline-block;
}
.buttonbox[_ngcontent-dxi-c83] > button[_ngcontent-dxi-c83] {
cursor: pointer;
padding: 10px 70px;
border-radius: 4px;
border: 0;
background: #0065ff;
color: #fff;
text-align: center;
font-size: 16px;
font-weight: 500;
}
img.images {
    width: 53%;
}